Source: easy-apache
Section: utils
Priority: optional
Maintainer: R Pavan Kumar <realpvn@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/realpvn/easy-apache.git
#Vcs-Browser: https://salsa.debian.org/debian/easy-apache
#Vcs-Git: https://salsa.debian.org/debian/easy-apache.git

Package: easy-apache
Architecture: all
Depends: ${misc:Depends}, apache2 (>= 2.4), curl (>= 7.68), certbot (>= 0.40), python3-certbot-apache (>= 0.40)
Description: Script to easily setup apache server and install ssl certificate.
 It will automatically configure apache and install SSL for you apache sites.
